@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
* {
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

.taskForm{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 7%;
}


h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    padding-top: 9%;
    padding-bottom: 9%;
     

}

input{
  border: 1px solid rgb(230, 64, 14);
	margin: 0 0 5px;
  padding: 10px;
  width: 67%;
}

.addBtn{
	border: none;
	background: rgb(230, 64, 14);
	color: #fff;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}


.deleteBtn{
    width: 35px;
    height: 35px;
    background:rgb(230, 64, 14);
    font-size: 18px;
    margin-right: 8%;
}

li{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}


p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 27px;
  padding-left: 9%;
}
